
/*** 

====================================================================
    Banner Section
====================================================================

***/
.banner-section {
    position: relative;
}

.banner-section .slide-item {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 760px;
    .bg-image {
        @include overlay;
        @include background;
        bottom: 0;
        height: auto;
        &:before{
            @include overlay;
            background-color: var(--bg-theme-color1);
            opacity: .95;
            content: "";
        }
    }
}


.banner-section .content-box {
    position: relative;
    padding: 280px 0 50px;
     .title{
        position: relative;
        display: block;
        font-size: 80px;
        line-height: 1em;
        color: #ffffff;
        font-weight: 900;
        margin-bottom: 40px;
        .colored{
            color: #ffbf42;
        }
    }
    .btn-box{
        .theme-btn:hover{
            color: var(--bg-theme-color2);
        }
        .theme-btn:before{
            background-color: #ffffff;
        }
    }
}

.banner-section .image-box{
    position: relative;
    padding: 230px 0 0px;
    margin-right: -340px;
    z-index: 9;
    .fact-counter-one{
        position: absolute;
        height: 125px;
        width: 125px;
        z-index: 3;
        &:before{
            left:auto;
            right: 15px;
            bottom: 10px;
        }
        .counter-title{
            font-size: 10px;
            line-height: 1em;
            margin-bottom: -5px;
        }
        .count-text {
            font-size: 30px;
            line-height: 1em;
        }
    }
    .image{
        margin-bottom: 0;
        img{
            filter: drop-shadow(-10px -10px 20px rgba(0,0,0,.20));
        }
    }
}


/* Animate 1 */
.owl-carousel .animate-7,
.owl-carousel .animate-6,
.owl-carousel .animate-5,
.owl-carousel .animate-4,
.owl-carousel .animate-3,
.owl-carousel .animate-2,
.owl-carousel .animate-1 {
    opacity: 0;
    transform: translateY(100px);
    transition: all 500ms ease;
}

.owl-carousel .animate-x{
    opacity: 0;
    transform: translateX(100px);
    transition: all 500ms ease;
}

.owl-carousel .active .animate-1,
.owl-carousel .active .animate-2,
.owl-carousel .active .animate-3,
.owl-carousel .active .animate-4,
.owl-carousel .active .animate-5,
.owl-carousel .active .animate-6,
.owl-carousel .active .animate-7 {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.owl-carousel .active .animate-2 {
    transition-delay: 300ms;
}
.owl-carousel .active .animate-3 {
    transition-delay: 600ms;
}
.owl-carousel .active .animate-4 {
    transition-delay: 900ms;
}
.owl-carousel .active .animate-5 {
    transition-delay: 1200ms;
}
.owl-carousel .active .animate-6 {
    transition-delay: 1500ms;
}
.owl-carousel .active .animate-7 {
    transition-delay: 1800ms;
}

.banner-carousel .owl-nav {
    position: absolute;
    left: 100px;
    top: 50%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: -65px;
}

.banner-carousel .owl-next,
.banner-carousel .owl-prev {
    display: block;
    margin:10px 0;
    height: 50px;
    width: 50px;
    color: #ffffff;
    border-radius: 50%;
    border: 2px solid #ffffff;
    font-size: 20px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
    opacity: .20;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.banner-carousel .owl-next:hover,
.banner-carousel .owl-prev:hover {
    opacity: 1;
}





