/*** 

====================================================================
    Services Section
====================================================================

***/

.services-section {
    position: relative;
    padding: 120px 0 90px;
    z-index: 1;
    .icon-wave-line{
        left: -620px;
        bottom: -90px;
    }
}


.service-block-home1{
    margin-bottom: 30px;
    .inner-box{
        position: relative;
        border: 1px solid #E1E1E1;
        transition: all 300ms ease;
        &:hover{
            .theme-btn,
            .content{
                box-shadow: 0 10px 30px rgba(0, 0, 0, .10);
            }
            .image{
                img{
                    transform: scale(1.1);
                }
            }
        }
        .image{
            position: relative;
            overflow: hidden;
            margin: 0;
            img{
                width: 100%;
                transition: all 300ms ease;
            }
        }
        .content{
            position: relative;
            padding: 40px 40px 40px;
            transition: all 300ms ease;
            @include media-breakpoint-down(xxl){
                padding: 30px;
            }
            @include media-breakpoint-down(sm){
                padding: 30px 15px;
            }
        }
        .icon{
            position: absolute;
            right: 40px;
            top: -32px;
            margin: 0 auto;
            height: 65px;
            width: 65px;
            border-radius: 5px;
            background-color: var(--bg-theme-color2);
            color: #ffffff;
            @include flex-center;
            font-size: 42px;
            line-height: 1em;
            transition: all 300ms ease;
            @include media-breakpoint-down(sm){
                right: 30px;
                top: -50px;
            }
        }
        .title{
            color: var(--theme-black);
            padding-bottom: 20px;
            border-bottom: 1px solid #E1E1E1;
            @include media-breakpoint-down(sm){font-size: 24px;}
            &:hover{
                color: var(--theme-color1);
            }
        }
        .text{
            margin-bottom: 18px;
        }
        .read-more{
            font-weight: 700;
            font-size: 16px;
            line-height: 26px;
            color: var(--theme-black);
            transform: all 300ms ease;
            i{
                margin-left: 10px;
                font-size: 14px;
            }
            &:hover{
                color: var(--theme-color1);
            }
        }
    }
}
.service-block {
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
    .inner-box {
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        transition: all 300ms ease;
        box-shadow: 0 3px 20px rgba(0, 0, 0, .05);
        &:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, .10);
        }
    }
    .content-box {
        position: relative;
        padding: 20px 30px 35px;
        background-color: #ffffff;
        .icon {
            position: absolute;
            right: 20px;
            top: -20px;
            height: 70px;
            width: 70px;
            background: var(--bg-theme-color1);
            color: #ffffff;
            @include flex-center;
            border-radius: 5px;
            font-size: 42px;
            transition: all 300ms ease;
        }
        .sub-title {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: .1em;
            font-weight: 700;
            color: #767676;
        }
        .title{
            color: var(--theme-color1);
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 10px;
            a {
                color: var(--theme-color1);
                transition: all 300ms ease;
                &:hover {
                    color: var(--theme-color2);
                }
            }
        }
        .text {
            font-size: 15px;
            line-height: 30px;
            color: #767676;
            font-weight: 500;
        }
    }
    .image-box {
        position: relative;
        .image {
            overflow: hidden;
            margin-bottom: 0;
            img {
                width: 100%;
                // border-radius: 10px 10px 0 0;
                transition: all 300ms ease;
            }
        }
    }
}

/***

====================================================================
    Services Section Two
====================================================================

***/

.services-section-two{
    position: relative;
    padding: 120px 0;
    z-index: 1;
    .bg-image {
        @include overlay;
        background-position: center bottom;
        background-repeat: no-repeat;
        max-height: 500px;
        &:before {
            @include overlay;
            background-color: var(--bg-theme-color4);
            opacity: .9;
            content: "";
        }
    }

    .icon-wave-line {
        left: -620px;
        bottom: -90px;
    }
}

.service-block-two {
    position: relative;
    margin-bottom: 44px;

    .inner-box {
        position: relative;
        &:hover .image-box{
            border-radius: 10px 10px 0 0;
        }

        &:hover .image-box .icon {
            background-color: var(--bg-theme-color2-light);
            color: #ffffff;
        }

        &:hover .image img {
            transform: scale(1.1);
        }

        &:hover .image:before {
            height: 30%;
        }
    }

    .image-box {
        position: relative;
        transition: all 300ms ease;

        .image {
            border-radius: 10px;
            margin-bottom: 0px;
            overflow: hidden;
            position: relative;
            a {
                display: block;
                width: 100%;
            }
            &::before {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 70%;
                width: 100%;
                content: "";
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #1d1d29 100%);
                pointer-events: none;
                z-index: 2;
                transition: all 500ms ease;
            }

            img {
                width: 100%;
                transition: all 300ms ease;
            }
        }

        .icon {
            position: absolute;
            left: 0;
            top: 0;
            height: 90px;
            width: 90px;
            background-color:#ffffff;
            border-radius: 10px 0 10px 0;
            @include flex-center;
            color: var(--theme-color2-light);
            font-size: 54px;
            transition: all 300ms ease;
            z-index: 2;
        }
    }

    .content-box {
        @include absolute-bottom;
        padding: 40px 40px 30px;
        z-index: 9;
        width: 100%;
        .sub-title {
            position: relative;
            padding-top: 20px;
            font-size: 12px;
            letter-spacing: .07em;
            font-weight: 700;
            text-transform: uppercase;
            color: #fff;
        }

        .title {
            display: block;
            color: var(--theme-color2);
            margin: 0;
            a {
                color: var(--theme-color2);
                transition: all 300ms ease;
                &:hover {
                    color: #ffffff;
                }
            }
        }
    }
}