/*** 

====================================================================
    Testimonial Section Home 1
====================================================================

***/

.testimonial-section-home1{
    position: relative;
    padding: 120px 0 75px;
    .sec-title{
        margin-bottom: 47px;
    }
    .carousel-outer{
        margin: 0 -15px;
    }
}

.testimonial-block-home1{
    position: relative;
    padding: 15px 15px;
    margin-bottom: 30px;
    .inner-box{
        position: relative;
        display: flex;
        padding: 30px 30px 10px;
        border-radius: 10px;
        background-color: var(--theme-color-light);
        box-shadow: 0 0 15px rgba(0,0,0,.10);
        @include media-breakpoint-down(sm){
            padding: 20px 20px;
            text-align: center;
        }
        &:hover{
            .thumb{
                img{
                    transform: scale(1.1);
                }
            }
            .content-box{
                .image-box{
                    .quote-icon{
                        color: var(--theme-color1);
                    }
                }
            }
        }
    }
    .content-box {
        position: relative;
        padding-left: 210px;
        padding-top: 10px;
        min-height: 264px;
        background-color: var(--theme-color-light);
        @include media-breakpoint-down(md){
            padding-left: 0;
            text-align: center;
        }
        .name {
            margin-bottom: 0px;
        }
        .designation {
            display: block;
            margin-bottom: 6px;
        }
        .rating{
            position: relative;
            z-index: 2;
            font-size: 14px;
            line-height: 14px;
            color: #DAC935;
            letter-spacing: -1px;
            margin-bottom: 20px;
        }
        .text {
            position: relative;
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 20px;
        }
 
        .image-box{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;      
            text-align: center;
            max-width: 160px;
            @include media-breakpoint-down(md){
                position: relative;
                display: inline-block;
            }
            .thumb{
                margin-bottom: 20px;
                overflow: hidden;
                img{
                    transition: all 300ms ease;
                }
            }
            .quote-icon{
                font-size: 62px;
                line-height: 1em;
                color: #fff;
                transition: all 300ms ease;
                text-shadow:1px 1px 1px var(--theme-color1),
                            -1px -1px 1px var(--theme-color1),
                            1px 1px 1px var(--theme-color1),
                            -1px -1px 1px var(--theme-color1),
                            1px 1px 1px var(--theme-color1),
                            -1px -1px 1px var(--theme-color1);
                @include media-breakpoint-down(sm){
                    display: none;
                }
            }
        }
    }
}

/*** 

====================================================================
    Testimonial Section Two
====================================================================

***/

.testimonial-section-two{
    position: relative;
    padding: 120px 0 70px;
    .icon-plane-1{
        top: -70px;
        right: -180px;
        width: 162px;
        height: 975px;
    }
    .float-image{
        z-index: 8;
        right:-360px;
        bottom: 0;
    }
    .bg-image{
        position: absolute;
        left: 0;
        top: 0;
        width: 65%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center left;
        background-size: cover;
        border-radius: 0 10px 10px 0;
        &::before{
            @include overlay;
            background-color: #f8f5f1;
            border-radius: 0 10px 10px 0;
            opacity: .9;
            content: "";
        }
        &:after{
            position: absolute;
            right: -40px;
            top:0;
            height: 90px;
            width: 10px;
            background-color: #eee9e3;
            content: "";
            border-radius: 5px;
        }
    }
    .testimonial-column{
        margin-bottom: 50px;
        .inner-column{
            position: relative;
            padding-right: 30px;
        }
        .sec-title{
            margin-bottom: 35px;
        }
    }

    .form-column{
        position: relative;
        margin-bottom: 50px;
    }

}


.testimonial-block-two{
    position: relative;
    .inner-box {
        position: relative;
    }
    .icon{
        display: block;
        margin-bottom: 40px;
    }
    .text {
        position: relative;
        font-size: 30px;
        line-height: 50px;
        color: #767676;
    }
    .info-box{
        position: relative;
        padding-left: 120px;
        min-height: 90px;
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .thumb {
            position: absolute;
            left:0;
            top: 0;
            display: block;
            height: 90px;
            width: 90px;
            border-radius: 50%;
            img {
                border-radius: 50%;
                border: 2px solid var(--border-theme-color2);
                transition: all 300ms ease;
            }
        }
        .name {
            color: var(--theme-color1);
            margin-top: 0;
            margin-bottom: 5px;
        }
        .designation {
            position: relative;
            display: block;
            font-size: 14px;
            line-height: 20px;
            color: var(--theme-color2);
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: .1em;
        }
    }
}

.testimonial-carousel-two{
    .owl-dots{
        position: absolute;
        right: 0;
        bottom: 40px;
        margin: 0;
    }

}