/*** 

====================================================================
    Why Choose Us
====================================================================

***/

.why-choose-us{
    position: relative;
    padding: 120px 0;
    z-index: 1;
    .bg-image{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 60px;
        width: 100%;
        @include background;
        &:before{
            @include overlay;
            background-color: var(--bg-theme-color1);
            opacity: .92;
            content: "";
        }
        &::after{
            position: absolute;
            right: 0;
            top: 0;
            height: 370px;
            width: 625px;
            background-image: url(../images/icons/shape-4.png);
            content: "";
            z-index: 1;
        }
    }
    &.pull-up {
        padding: 180px 0 120px;
        margin-top: -60px;
        z-index: -1;
    }
}

.why-choose-us .content-column{
    position: relative;
    .sec-title .sub-title {
        color: rgba(255, 255, 255, 0.6);
    }
    .inner-column {
        padding-right: 70px;
        padding-bottom: 60px;
    }
}

.feature-block-two{
    position: relative;
    margin-bottom: 40px;
    .inner-box{
        padding-left: 120px;
        position: relative;
        &:hover{
            .icon{
                background-color: #ffffff;
                color: var(--theme-color1);
            }
        }
    }
    .icon{
        position: absolute;
        left: 0;
        top: 0;
        height: 85px;
        width: 85px;
        background-color: var(--bg-theme-color2-light);
        @include flex-center;
        font-size: 42px;
        color: #ffffff;
        border-radius: 5px;
        transition: all 300ms ease;
    }
    .title{
        position: relative;
        top: -3px;
        font-size: 24px;
        line-height: 30px;
        color: #ffffff;
        font-weight: 700;
        margin-bottom: 10px;
        a{
            color: #ffffff;
        }
    }
    .text{
        font-size: 16px;
        line-height: 30px;
        color: #b1b1cf;
    }
}

.why-choose-us .form-column{
    position: relative;
    z-index: 1;
}

.contact-form {
    position: relative;
    background-color: var(--bg-theme-color2-light);
    padding: 55px 60px 60px;
    border-radius: 10px;
    .title{
        font-size: 36px;
        color: #ffffff;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .form-group {
        position: relative;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        label {
            font-size: 16px;
            line-height: 20px;
            color: #ffffff;
            font-weight: 500;
            display: block;
            letter-spacing: 1px;
            margin-bottom: 15px;
            &.error {
                display: block;
                font-weight: 500;
                font-size: 13px;
                text-transform: capitalize;
                line-height: 24px;
                color: #ff0000;
                margin-bottom: 0;
            }
        }
        .select2-container--default .select2-selection--single,
        input:not([type="submit"]),
        textarea,
        select {
            position: relative;
            display: block;
            height: 60px;
            width: 100%;
            font-size: 14px;
            color: var(--theme-color1);
            line-height: 30px;
            font-weight: 400;
            padding: 14px 20px;
            border-radius: 5px;
            margin-bottom: 0;
            border: 1px solid #dfe8ee;
            transition: all 300ms ease;
        }
        input:focus,
        select:focus,
        textarea:focus {
            border-color: var(--border-theme-color1);
        }
        textarea {
            height: 100px;
            resize: none;
        }
        input[type="submit"],
        button {
            margin-top: 5px;
            text-transform: uppercase;
        }
    }
}

/***==================================
    Range Slider One
==================================***/
.range-slider-one {
    position: relative;
    margin-bottom: 5px;
    .range-amount {
        position: absolute !important;
        right: 0;
        top: -35px;
        background: none;
        text-align: right;
        border: 0 !important;
        padding: 0 !important;
        max-width: 75px;
        color: #ffffff !important;
        width: auto !important;
        height: auto !important;
    }
    .ui-widget.ui-widget-content {
        height: 10px;
        border: none;
        border-radius: 10px;
        background: rgba(255, 255, 255, 1);
    }
    .ui-slider {
        .ui-slider-range {
            top: 0px;
            height: 10px;
            background-color: var(--theme-color1);
        }
    }
    .ui-state-default {
        top: -5px;
        width: 20px;
        height: 20px;
        background: #ffffff;
        cursor: pointer;
        border: 3px solid var(--border-theme-color3-light);
        border-radius: 20px;
    }
    .ui-widget-content {
        .ui-state-default {
            top: -5px;
            width: 20px;
            height: 20px;
            background: #ffffff;
            cursor: pointer;
            border: 3px solid var(--theme-color1);
            border-radius: 20px;
        }
    }
    .ui-slider-horizontal {
        .ui-slider-handle {
            &:nth-child(2) {
                margin-left: 0 !important;
            }
            &:nth-child(3) {
                margin-left: -20px !important;
            }
        }
    }
}


.feature-block-four {
    position: relative;
    margin-bottom: 40px;
    .inner-box {
        position: relative;
    }
    .icon {
        height: 90px;
        width: 90px;
        background-color: var(--bg-theme-color2);
        @include flex-center;
        font-size: 48px;
        color: #ffffff;
        border-radius: 50px;
        margin-bottom: 15px;
    }
    .title {
        position: relative;
        font-size: 20px;
        line-height: 1.2em;
        color: #ffffff;
        font-weight: 700;
        margin-bottom: 5px;
        a {
            color: #ffffff;
        }
    }

    .text {
        font-size: 16px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.6);
    }
}

.why-choose-us-two .info-box {
    position: relative;
    display: flex;
    height: 100%;
    background: #ffffff;
    padding: 30px 30px 30px 30px;
    border-radius: 5px;
    min-width: 270px;
    left: -20px;
    @include Shadow;
    &:before {
        position: absolute;
        right: 0;
        top: 100%;
        margin-top: -5px;
        border-left: 40px solid transparent;
        border-top: 30px solid #ffffff;
        content: "";
    }
    .icon {
        position: absolute;
        left: 30px;
        top: 30px;
        color: var(--theme-color1);
        font-size: 62px;
        line-height: 65px;
    }
    strong {
        position: relative;
        padding-left: 85px;
        font-size: 18px;
        line-height: 26px;
        color: var(--theme-color1);
        font-weight: 700;
        display: block;
        min-height: 65px;       
        padding-top: 5px;
    }
}

